$def with (categories,parent_id)
$var menu: menu_category

<form class="form-horizontal" method="post">
	<div class="control-group">
		<label class="control-label" for="name">分类名称：</label>
		<div class="controls">
			<input type="text" id="name" name="name" placeholder="请输入分类名称"/>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="parent_id">上级分类：</label>
		<div class="controls">
			<select id="parent_id" name="parent_id">
				$if parent_id == 0:
					<option value="0" selected="selected">顶级栏目</option>
				$else:
					$def printCat(category,indent):
						<option value="$category.id" $:('selected="selected"' if category.id==parent_id else "")>$:{'&nbsp;&nbsp;&nbsp;'  * indent + (indent != 0 and '|__' or '')  + category.name}</option>
						$for child in category['childs']:
							$:printCat(child,indent+1)
					
					$for category in categories:
						$:printCat(category,0)
			</select>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="description">分类描述：</label>
		<div class="controls">
			<textarea rows="3" id="description" name="description"></textarea>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn btn-primary">新增</button>
			<a href="../list" class="btn btn-mini">返回</a>
		</div>
	</div>
</form>